NAMES_DB_NAME=naming
NAMES_DB_USER=naming
NAMES_DB_PASSWORD_FILE=
NAMES_DB_HOST=127.0.0.1
NAMES_DB_PORT=3306
NAMES_DB_ADMIN_USER=root
NAMES_DB_ADMIN_HOSTS="127.0.0.1"
NAMES_DB_CHARACTER_SET=utf8
NAMES_CONTEXT_ROOT=/
